<footer class="footer">
  <div class="footer-content">
    <p class="footer-text">&copy; {{ currentYear }} Khervyn Gupta. All rights reserved.</p>

    <div class="social-icons">
      <a href="https://github.com/Khervyngupta" target="_blank" aria-label="GitHub">
        <mat-icon>code</mat-icon> <span>GitHub</span>
      </a>
      <a href="https://www.linkedin.com/in/khervyn-gupta/" target="_blank" aria-label="LinkedIn">
        <mat-icon>linkedin</mat-icon> <span>LinkedIn</span>
      </a>
      <a href="mailto:khervyngupta@gmail.com" aria-label="Email">
        <mat-icon>email</mat-icon> <span>Email</span>
      </a>
    </div>
  </div>
</footer>
