<div class="home-container">
  <div class="content">
    <div class="text">
      <h1 scrollReveal="enter left over 1s">Hi, I'm <span class="highlight">Khervyn Gupta</span></h1>
      <p scrollReveal="enter bottom over 1.5s" class="home-summary">
        Software Engineer | Passionate About Full-Stack Development, Cloud Technologies & AI-Powered Solutions.
      </p>

      <ul class="expertise-list" scrollReveal="enter bottom over 1.8s">
        <li><mat-icon>code</mat-icon> Full-Stack Development (.NET, Angular, React, Node.js)</li>
        <li><mat-icon>cloud</mat-icon> Cloud & DevOps (AWS, Azure, CI/CD, Docker)</li>
        <li><mat-icon>smart_toy</mat-icon> AI & Machine Learning (Python, NLP, TensorFlow)</li>
        <li><mat-icon>storage</mat-icon> Database Management (SQL, MongoDB, Firebase)</li>
        <li><mat-icon>verified</mat-icon> Certified SIH Finalist & Hackathon Enthusiast</li>
      </ul>

      <div class="btn-group">
        <a routerLink="/projects" class="btn primary-btn">View Projects</a>
        <a href="https://drive.google.com/file/d/1pxI5MUCCWmpafpsPTaq14GhPPrgZYZ0F/view?usp=sharing" 
           target="_blank" class="btn secondary-btn">
          View Resume
        </a>
      </div>
    </div>

    <div class="image">
      <img src="assets/profilePic.jpg" alt="Profile Picture" scrollReveal="enter right over 1s">
    </div>
  </div>
</div>
